@media (max-width: 630px) {
    .box {
        margin: 20px;
    }

    .button__orders {
        font-size: 18px;
    }
}

@media(max-width: 465px) {
    h1 {
        font-size: 5.5vh;
    }

    i, p {
        font-size: 20px;
    }

    .button__orders {
        font-size: 16px;
    }

    input {
        width: 6vh;
        height: 6vh;
        font-size: 2.8vh;
    }

    .button__finger {
        width: 6vh;
        height: 6vh;
        font-size: 30px;
    }

    li {
        gap: 0.8em;
        margin: 3px 0;
    }

    ul{
        gap: 16px;
    }
}

@media(max-width: 395px) {
    h1 {
        font-size: 4.5vh;
    }

    .button__orders {
        font-size: 20px;
    }

    i {
        margin: 0 1px;
    }

    .orders {
        flex-direction: column;
        gap: 8px;
    }

    .button__orders {
        width: 100%;
    }
}

@media(max-width: 320px) {
    .box {
        width: 95%;
    }

    .button__finger {
        flex-shrink: 0;
    }

    input {
        flex-shrink: 2;
        min-width: 0;
    }

    i, p {
        font-size: 18px;
    }

    .button__orders {
        font-size: 16px;
    }
}

@media(max-width: 280px){
    .button__finger {
        font-size: 25px;
    }
}